<mat-list role="list" class="img-back">
  <mat-list-item role="listitem" class="preguntas">¿Quien soy?</mat-list-item>
  <mat-list-item>
      Soy Hernan Navarro, de Cordoba-Argentina.
      Estudio ingenieria en sistemas en la Universidad Catolica de Cordoba.
  </mat-list-item>
  <p>
  </p>
  <mat-list-item role="listitem" class="preguntas" >¿Que me gusta?</mat-list-item>
  <mat-list-item>
    <p>
    Me gusta aprender de todo y de todos, hacer deporte y ser activo.
    </p>
  </mat-list-item>
  <mat-list-item role="listitem" class="preguntas" >Educacion</mat-list-item>
  <ul>
    <li>Actual: UNIVERSIDAD CATOLICA DE CORDOBA (2015-actualidad)</li>
    <li>Secundario: INSTITUTO PADRE CLARET (2009-2014)</li>
    <li>Primario: ESCUELA REPUBLICA DEL LIBANO (2002-2008)</li>
  </ul>
  <mat-list-item role="listitem" class="preguntas" >Datos</mat-list-item>
  <ul>
    <li>Nacimiento: 11/02/1997</li>
    <li>Idiomas: Español e Ingles(basico)</li>
    <li>Trabajos: Pasantia finalizada en IVECO</li>
    <li>Deporte: Rugby, futbol, tenis, padel</li>
  </ul>
</mat-list>
