<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="facebook"></div>
    <mat-card-title>Facebook</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button href="https://www.facebook.com/hernann.navarro" >GO!</button>
  </mat-card-actions>
</mat-card>
<p> </p>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="instagram"></div>
    <mat-card-title>Instagram</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button href="https://www.instagram.com/hernannavarro2/" >GO!</button>
  </mat-card-actions>
</mat-card>
<p> </p>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="linkedin"></div>
    <mat-card-title>Linkedin</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button href="https://ar.linkedin.com/" >GO!</button>
  </mat-card-actions>
</mat-card>
<p> </p>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="github"></div>
    <mat-card-title>GitHub</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button href="https://github.com/hernanavarro" >GO!</button>
  </mat-card-actions>
</mat-card>
<p> </p>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Telefono</mat-card-title>
    <mat-card-subtitle>+54-9-3515171015</mat-card-subtitle>
    <mat-card-title>Email</mat-card-title>
    <mat-card-subtitle>navarro.hernan97@gmail.com</mat-card-subtitle>
  </mat-card-header>
</mat-card>
