<div class="img-back">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="facebook"></div>
    <mat-card-title>Facebook</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a mat-raised-button href="https://www.facebook.com/hernann.navarro" target="_blank" class="color">Go!</a>
  </mat-card-actions>
</mat-card>
<p> </p>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="instagram"></div>
    <mat-card-title>Instagram</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a mat-raised-button href="https://instagram.com/hernannavarro2" target="_blank" class="color">Go!</a>
  </mat-card-actions>
</mat-card>
<p> </p>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="linkedin"></div>
    <mat-card-title>Linkedin</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a mat-raised-button href="https://ar.linkedin.com/" target="_blank" class="color">Go!</a>
  </mat-card-actions>
</mat-card>
<p> </p>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="github"></div>
    <mat-card-title>GitHub</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <a mat-raised-button href="https://github.com/hernanavarro" target="_blank" class="color">Go!</a>
  </mat-card-actions>
</mat-card>
<p> </p>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Telefono</mat-card-title>
    <mat-card-subtitle>+54-9-3515171015</mat-card-subtitle>
    <mat-card-title>Email</mat-card-title>
    <mat-card-subtitle>navarro.hernan97@gmail.com</mat-card-subtitle>
  </mat-card-header>
</mat-card>
</div>
