.example-card {
  max-width: 100%;
  background-color: darkgrey;
}
.color{
  background-color: darkgrey;
}

.facebook {
  background-image: url('src/assets/facebook.jpg');
  background-size: cover;
}
.instagram{
   background-image: url('src/assets/instagram.jpg');
   background-size: cover;
 }
.github{
  background-image: url('src/assets/github.jpg');
  background-size: cover;

}
.linkedin{
  background-image: url('src/assets/linkedin.jpg');
  background-size: cover;
}
