<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               style="background-color: darkgray"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <div class="presentation">
        <img src="assets/perfil.png " alt="" class="profile-image"/>
        <h2 style="color: black" href="#">HERNÁN NAVARRO</h2>
      </div>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content >
    <mat-toolbar class="color-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        style="color: white"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="color: white" >Portafolio</span>
    </mat-toolbar>
    <app-principal></app-principal>
      <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
